h1 style="color: firebrick;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;text-align: center;">CSS Practice</h1>
    <p style="font-size: 26px;font-weight: bold ;font-style: italic ;text-align:center;">CSS is an acronym for Cascading Style Sheets</p>
</body>
</html>